.aluno-foto {
    background-color: black;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    width: 83px;
    height: 113px; /* Adicione esta linha para definir a altura */
    max-width: 83px;
    max-height: 113px; /* Adicione esta linha para definir a altura máxima */
	background: url(alunos/holder.jpg);
	background-size: 100% 100%; /* Define o tamanho da imagem de fundo */
}

.professor-foto {
  background-color: black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  width: 83px;
  height: 113px; /* Adicione esta linha para definir a altura */
  max-width: 83px;
  max-height: 113px; /* Adicione esta linha para definir a altura máxima */
background: url(alunos/holder.jpg);
background-size: 100% 100%; /* Define o tamanho da imagem de fundo */
}

/* Estilização para o botão desabilitado */
#btnIniciar:disabled {
  background-color: #ccc; /* Cor de fundo quando desabilitado */
  color: #888; /* Cor do texto quando desabilitado */
  cursor: not-allowed; /* Altera o cursor para "não permitido" */
}

#btnIniciarEntrega:disabled {
  background-color: #ccc; /* Cor de fundo quando desabilitado */
  color: #888; /* Cor do texto quando desabilitado */
  cursor: not-allowed; /* Altera o cursor para "não permitido" */
}

#painelEmprestimo {
    position: absolute;
    background-color: #3CB371;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    max-width: 80%;
    height: 100%;
    max-height: 531px;
}

#painelMaterialSala {
    position: absolute;
    background-color: #3CB371;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    max-width: 80%;
    height: 100%;
    max-height: 531px;
}

.button-secondary:active, .button-secondary.active {
  height: 50px;
  padding: 10px 20px;
  text-align: initial;
}
.button-secondary {
  background-color: #3CB371;
  color: white;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 18%;
  text-align: left;
  vertical-align: top;
}


.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;

}

/* Esconder o checkbox padrão */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-left: 150px;
}

/* Criar o checkbox customizado */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 2px;
}

/* Adicionar uma cor de fundo cinza ao passar o mouse */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Quando o checkbox é clicado, adicionar um fundo rosa */
.container input:checked ~ .checkmark {
  background-color: #ff0a54;
}

/* Criar o ícone de check, escondido quando não estiver selecionado */
.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  /* top: 5px; */
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Exibir o ícone quando selecionado */
.container input:checked ~ .checkmark:after {
  display: block;
}